@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script type="text/javascript" src="js/webcam.min.js"></script>
</head>
<!-- ======= Header ======= -->
<main id="main">
    <section id="nutrient-details" class="nutrient-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link active" href="#capture-snapshot">Capture Snapshot</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" href="#browse-image">Browse Image</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="capture-snapshot" class="tab-pane in active">
                            <div class="nutrient-details-slider swiper-container">
                                <div id="my_camera"></div>
                                <button type="button" class="btn btn-success mt-1 text-right" onClick="takeSnapshot()" value="Take Picture">Take Picture</button>
                                </div>
                            </div>
                        <div id="browse-image" class="tab-pane fade">
                            <label class="mt-2 btn btn-success" for="imageSelector">
                                <input class="form-control form-control-lg" type="file" id="imageSelector" style="display:none" accept="image/*" onchange="previewFile()" />
                                Select Image
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div id="results">
                        @if (!String.IsNullOrEmpty(Model.Base64Image))
                        {
                            <img id="imageprev" class="img-fluid margin-top-42" src="@Model.Base64Image" />
                        }
                    </div>
                    <form runat="server" method="post" class="form-inline text-center hide">
                        <input type="text" asp-for="Base64Image" runat="server" class="hide" />
                        <button type="submit" class="btn btn-success mt-1 text-right" id="submitImage" runat="server">Submit</button>
                    </form>
                </div>

                <div class="col-lg-4">
                    <div class="nutrient-description" style="font-size: 13px;">
                        <p class="font-weight-bold font-italic text-capitalize">
                            Are you in the dilemma, that stuff you eating is it nutritious? Does the food you eat suffice your daily nutrition requirement? Nutrient Diary is here for you:
                        </p>
                        <div class="alert alert-success">
                            <p>Take or upload pictures of food you willing to eat.</p>
                        </div>

                        <div class="alert alert-info">
                            <p>Record the portion sizes you willing to eat.</p>
                        </div>

                        <div class="alert alert-warning">
                            <p>Get the nutrient info of the food based on the portion.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    @if (String.IsNullOrEmpty(Model.Error) && Model.isPostBack)
                    {
                        <div class="nutrient-info margin-top-42">
                            <h3>Nutrient information</h3>
                            @if (Model.FoodDetails.Any())
                            {
                                <ul class="nav nav-tabs">
                                @foreach (var foodDetail in Model.FoodDetails)
                                {
                                    String className = "";
                                    if (Model.FoodDetails.First() == foodDetail)
                                    {
                                        className = "active";
                                    }
                                    String itemName = char.ToUpper(foodDetail.Description[0]) + foodDetail.Description.Substring(1);
                                    <li class="nav-item">
                                        <a href="#tab-@foodDetail.FdcId.ToString()" class="nav-link @className" data-toggle="tab">@itemName</a>
                                    </li>
                                }
                                </ul>
                                <div class="tab-content">
                                    @foreach (var foodDetail in Model.FoodDetails)
                                    {
                                        String className = "fade";
                                        if (Model.FoodDetails.First() == foodDetail)
                                        {
                                            className = "active";
                                        }
                                        String category = @foodDetail.BrandedFoodCategory;
                                        if (String.IsNullOrEmpty(category))
                                        {
                                            category = foodDetail.FoodCategory;
                                        }

                                        <div class="tab-pane @className" id="tab-@foodDetail.FdcId.ToString()">
                                            <p>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <strong>Category:</strong> @category
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                                <div class="row">
                                                    <label for="serving-@foodDetail.FdcId" class="col-3 col-form-label">Portion Size:</label>
                                                    <input type="number" name="portion" data-food-item="@foodDetail.FdcId" id="serving-@foodDetail.FdcId" class="col-3 form-control" value="@foodDetail.PortionSize" min="0" />
                                                    <input type="text" readonly class="col-1 form-control-plaintext" id="unit-@foodDetail.FdcId" value="@foodDetail.ServingSizeUnit" />
                                                </div>
                                            </p>

                                            @if(foodDetail.FoodNutrients.Any())
                                            {
                                                <table class="table table-striped" data-fdc="@foodDetail.FdcId">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Amount</th>
                                                            <th scope="col">Unit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (var nutrient in foodDetail.FoodNutrients)
                                                    {
                                                        <tr>
                                                            <td>@nutrient.Name</td>
                                                            <td>@nutrient.Amount</td>
                                                            <td>@nutrient.UnitName</td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            }
                                        </div>
                                    }
                                </div>
                                }
                                else if (Model.isPostBack)
                                {
                                <strong>No Food Item Detected</strong>
                                }
                        </div>
                        }
                        else if (!String.IsNullOrEmpty(Model.Error))
                        {
                        <strong>@Model.Error</strong>
                        }

                </div>

            </div>
        </div>
    </section>
</main>